<div class="container">

  <!--nom du terra-->
  <div class="row">
    <!-- <div *ngFor="let t of terraActuel | async">
        <p>{{ t | json }}</p>
      </div>   -->
  </div>

    
    <!--Données actuelles-->
  <div class="row">

    <!--Température-->
    <div class="col-sm">
      <div class="card data temperature" placement="bottom" ngbTooltip="{{tooltip_temperature}}">
        <div class="card-body">
          <h5 class="card-title">Température</h5> <h2> {{ temperatureActuelle }} °</h2>
          <h6 class="card-subtitle mb-2 text-muted"> {{ tempConforme }}</h6>
        </div>
      </div>
    </div>

    <!--Humidité-->
    <div class="col-sm">
        <div class="card data humidite" placement="bottom" ngbTooltip="{{tooltip_humidite}}">
            <div class="card-body">
              <h5 class="card-title">Humidité</h5> <h2>{{ hygrometrieActuelle}} %</h2>
              <h6 class="card-subtitle mb-2 text-muted">{{ hygroConforme }}</h6>
            </div>
        </div>
    </div>

    <!--Luminosité-->
    <div class="col-sm">
        <div class="card data luminosite" placement="bottom" ngbTooltip="{{tooltip_luminosite}}">
            <div class="card-body">
              <h5 class="card-title">Luminosité</h5> <h2>{{ luminositeActuelle }} Lux</h2>
              <h6 class="card-subtitle mb-2 text-muted">Risque : {{ risqueLuminosite }}</h6>
            </div>
        </div>
    </div>


    <!--Météo-->
    <div class="col-sm">
      <div class="card data meteo" placement="bottom" ngbTooltip="{{tooltip_meteo}}">
          <div class="card-body">
            <h5 class="card-title">Météo actuelle</h5> <h2>{{ meteoActuelle }}</h2>
            <h6 class="card-subtitle mb-2 text-muted">Risque : {{risqueMeteo}}</h6>
          </div>
      </div>
    </div>
  </div>


  <app-line-chart [idTerra]="idTerra"></app-line-chart>


</div>
  
  
  



