
<!-- Container for sidebar(s) + page content -->
<ng-sidebar-container style="height: 100vh;" *ngIf="this.loggedIn">

  <!-- A sidebar -->
  <ng-sidebar [(opened)]="_opened" position="left" [mode]="'push'">
    <app-sidebar></app-sidebar>
  </ng-sidebar>

  <!-- Page content -->
  <div ng-sidebar-content>
      <nav class="navbar navbar-dark bg-dark">
          <!-- Navbar content -->

          
          <button type="button" class="btn btn-secondary" (click)="_toggleSidebar()" >Menu</button>

          <h1 id='titre'>{{title}}</h1>


          <div *ngIf="this.user != undefined">

            <button type="button" class="btn btn-secondary" (click)="deconnexion()" >Deconnexion</button>

            <div> 
              <h4>{{ user.firstName }}</h4>
              <img src="{{ user.photoUrl }}" height="50px">
            </div>
          </div>
      </nav>


      <!-- <div *ngFor="let t of terraFirebase | async">
        <p>{{ t | json }}</p>
      </div> -->


      <!-- <div class="fb-login-button" data-size="large" data-button-type="continue_with" data-auto-logout-link="true" data-use-continue-as="true" onlogin="checkLoginState();"></div> -->
        <router-outlet></router-outlet>


  </div>

</ng-sidebar-container>

<div *ngIf="this.loggedIn == false">
    <app-social-login></app-social-login>
</div>