<div class="container">

    <p>Mes Terrariums</p>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Terrarium</th>
          <th scope="col">Exposé au soleil</th>
          <th scope="col">Température souhaitée</th>
          <th scope="col">Hygrométrie souhaitée</th>
          <th scope="col">Alertes souhaitée</th>

        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let terra of listeTerra; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ terra.nom }}</td>
          <td>{{ terra.soleil }}</td>
          <td>{{ terra.temperature_souhaitee }}</td>
          <td>{{ terra.hygrometrie_souhaitee }}</td>
          <td>{{ terra.alertes }}</td>
        </tr>
      </tbody>
    </table>

  </div>