<div class="pageLogin">

    
    <div class="col-8 content">
        <div class="card ">
            <div class="card-body">
              <h5 class="card-title">Connectez-vous pour accéder à votre espace terrarium</h5>
              <button type="button" class="btn btn-primary btn-lg btn-block" (click)="signInWithFB()">Connexion avec Facebook</button>
              <button type="button" class="btn btn-primary btn-lg btn-block disabled" (click)="signInWithGoogle()">Connexion avec Google</button>
              <button type="button" class="btn btn-primary btn-lg btn-block disabled" (click)="signInWithLinkedIn()">Connexion avec Linkedin</button>
            </div>
        </div>
    </div>

</div>




<!-- <img src="{{ user.photoUrl }}">
<div>
  <h4>{{ user.name }}</h4>
  <p>{{ user.email }}</p>
</div> -->