<div class="container">

  <p class="titre">Surveillance Terrariums</p>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Terrarium</th>
        <th scope="col">Température</th>
        <th scope="col">Hygrométrie</th>
        <th scope="col">Luminosité</th>
        <th scope="col">Météo</th>
        <th scope="col">Temperature Extérieur</th>

      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let terra of listeMesures; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ terra.nomTerra }}</td>
        <td>{{ terra.temperature }} °C</td>
        <td>{{ terra.hygrometrie }} %</td>
        <td>{{ terra.luminosite }} Lux</td>
        <td>{{ terra.meteo }}</td>
        <td>{{ terra.temperatureExterieur }} °C</td>
      </tr>
    </tbody>
  </table>

</div>